# This file is not public domain
Cadre didactice DI 2024-2025.xlsx
# Personal info
docs_data.xlsx

# Recached at launch
schedule_*.json

# Not sure if this doc is supposed to be public
teze.xlsx
theses.xlsx
